.navbar {
    display: flex;
    justify-content: flex-end;

}

.navbar-nav {
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;
}

.nav-item {
    margin-right: 10px;
}

.nav-link {
    text-decoration: none;
    color: #000;
}

.horaire{
    width: 879px;
    background-color: white;
    margin: 12PX auto;
    padding-bottom: 49px;

}

.add_hours{
    display: grid;
    grid-template-columns: repeat(12,1fr);
    grid-template-areas: "title title title title title . . . button button button button";

}

.title_hours{
    grid-area: title;
    font-family: bold;
    color: #12344d;
    font-size: 30PX;
    font-weight: 700;
    margin-bottom: 8px;
    margin-top: 40px;
    margin-left: 26px;
}
.title_hours h1{

    font-size: 26PX;
    font-weight: 700;
}
.button_hours{
    grid-area: button;
    background-color: #12344dd1;
    padding: 12px 12px;
    margin-bottom: 23px;
    margin-top: 40px;
    margin-right: 26px;
    border-radius: 41px;
    width: 85%;
}
.button_hours:hover{
    background-color: #12344d;
    color: white;
}
.button_hours a {
    text-decoration: none;
    color: white;
}
.button_hours a:hover{
    text-decoration: none;
    color: white;
}

.new_calendar{
    width: 800px;
    background-color: white;
    margin: 12PX auto;
    padding-bottom: 22px;
}
.calendar_name{
    margin-left: 38px;
    margin-bottom: 37px;
}
.calendar_name div{
    margin-top: 15px;
}

.option_select div{
    margin-left: 37px;
    margin-bottom: 19px;
    margin-top: 30px;
}
.option_select div label{
    font-size: 15px;
    font-weight: 700;
    color: #12344d;
}

.day_number{
    display: flex;
    margin-top: 18px;
}
.to{
    margin-left: -56px;
    margin-right: 32px;

}
#content1{
    margin-left: 90px;
}
.mar_lun{
    margin-right: 106px;
    margin-left: 14px;
}
#content01, #content02, #content4, #content5, #content6, #content7, #content3{
    display: block;
    margin-bottom: 20px;
    margin-right: -60px;
}
/*  */
.plaise{
    display: flex;
    margin-left: 20px;
    margin-top: 26px;
    margin-bottom: 26px;
}
.plaise div{
    margin-left: 24px;
}
.ouverture{
    font-size: 14px;
    color: #12344d;
    font-weight: 600;
    margin-top: 40px;
    margin-left: 38px;
    margin-bottom: 38px;
}
.all{
}
.select_hous{
    margin-left: 65px;
}
#add_fete a{
    text-decoration: none;
    color: black;
    padding-left: 10px;
    padding-right: 10px;
    padding-bottom: 6px;
    padding-top: 6px;
    border-radius: 4px;
    margin-right: 10px;
    border: 1px solid #cfd7df;
    background-image: linear-gradient(to bottom,#fff,#f3f5f7);
}
#add_fete a:hover{

    border: 1px solid #cfd7df15;
    background-image: linear-gradient(to bottom,#33333845,#f3f5f710);

}

.modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.5);
}

.modal-content {
    background-color: #fefefe;
    margin: 10% auto;
    padding: 20px;
    border: 1px solid #888;
    width: 45%;
    Width: 600PX !important;
    height: 355px;
}

.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

    .close:hover,
    .close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}
#cancel_add{
    display: flex;
    margin-top: 50px;
    position: static;
    justify-content: flex-end;
    background-color: #eee;
    padding-bottom: 15px;
    padding-top: 15px;
    margin-left: -20px;
    margin-right: -20px;
    border-radius: 7px;
}
#cancel_add div{
    margin-bottom: 12px;
    display: contents;
}
#cancel{

    margin-left: 12px;
    font-size: 14px;
    padding: 4px 15px 5px;
    border: none;
    border-radius: 4px;
    outline: 0;
    color: #183247;
    min-width: 80px;
    -webkit-font-smoothing: antialiased;
    background-color: #ddd;
    margin-right: 12px;
}
.add{
    margin-left: 12px;
    font-size: 14px;
    padding: 4px 15px 5px;
    border: none;
    border-radius: 4px;
    outline: 0;
    color: #fff;
    min-width: 80px;
    -webkit-font-smoothing: antialiased;
    background-color: #12344d;
    margin-right: 12px;
}
#date_name{
    margin-top: 20px;
}
#fete_name{
    margin-top: 30px;
}

.name_casablanca{
    padding-top: 6px;
    padding-bottom: 6px;
    margin-left: 60px;
    margin-right: 60px;
    background-color: #fff;
    box-shadow: 0 0 1px 0 rgba(24,50,71,.3), 0 2px 6px 0 rgba(22,29,37,.05);
    border-radius: 4px;
    border: 2px solid transparent;
    display: flex;
    justify-content: space-between;
}
.href_casa{
    text-decoration: none;
}
.name_calendar{
    color:#183247 ;
    font-size: 18px;
    margin-left: 32px;
    margin-top: 7px;
}
.Casablanca{
    margin-left: 32px;
    margin-top: 7px;
    font-size: 12px;
    color: gray;
}
#message{

    align-items: center;
    display: flex;
    justify-content: center;
    font-size: large;
}
.btn-delete{
    background-color: white;
    border: none  ;
    margin-top: 10px;

}
.btn-edit a svg{
    background-color: white;
    color: black;
}
.btn-edit a{
    text-decoration: none;
    color: black;
    margin-left: 3px;

}
.btn-edit a:hover{
    text-decoration: none;
    color: black;
}
.icon-container {
    display: inline-block;
}
.icon {
    width: 24px;
    height: 24px;
    fill: #000;
    /* Autres styles personnalisés */
}
.btn-btn{
    margin-left: 74px;
}
.ligne_bbb{
    margin-left: 41px;
    margin-right: 39PX;
    margin-top: 41px;
}
.table-striped{

    WIDTH: 90%!important;
    margin-left: 42px;
    margin-top: 47px;
    border: 0.2PX solid #eeeeee38;
}
.table-striped:hover{
    background-color: white;
}
tr.col{
    height: 50px;
}
tr.col td{

    align-items: center;
}
#table_consult{
    width: 88% !important;
    margin-left: 56PX;
    margin-top: 15px;
}
.consulter{
    margin: 20PX auto;
    background-color: white;
    width: 900px;
}
.consult_calendrier{

    display: grid;
    grid-template-columns: repeat(12,1fr);
    grid-template-areas: " cal cal cal . . . . btn btn btn btn btn";
}

.edit-supp{
    grid-area: btn;
    display: flex;
    justify-content: space-around;
}

.btn-edit-consulte a:hover{
    text-decoration: none;
    color: white !important;
}
.btn-edit-consulte:hover{
    background-color: blue;
}
.btn-edit-consulte a{
    text-decoration: none;
    color: white !important;
}
.btn-edit-consulte{

    background-color: #0d6efd;
    margin-top: 51PX;
    margin-bottom: 53px;
    border-radius: 8PX;
    margin-left: 120px;
    padding: 10px 16px 0px 10px;
}
.btn-supp-consulte{
    margin-top: 52px;
}


.calendrier-svg{
    grid-area: cal;
}

.consult_calendrier div h3 {
    font-size: 25px;
    font-weight: 700;
    color: #12344d;
    padding-left: 58px;
    padding-top: 60px;
    padding-bottom: 48px;
}
.consult_calendrier div h3 svg{
    margin-top: -5px;
    margin-right: 2PX;
}
.nom_bio p{
    font-weight: 300;
    display: inline;
    padding-left: 130px;
    font-size: 19px;
}
.nom_bio p svg{
    margin-top: -2px;
}
.jours h2{
        font-size: 23px;
    color: black;
    font-weight: 700;
    padding-left: 57PX;
    padding-top: 50PX;
}
.jours h2 span{
    padding-left: 6px;
}
.vacances h2{
    font-size: 23px;
    color: black;
    font-weight: 700;
    padding-left: 57PX;
    padding-bottom: -23PX;
    padding-top: 31PX;
}
.vacances h2 span{
    padding-left: 6px;
}
.vacances h2 img{
    width: 22px;
    margin-left: 0px;
    margin-top: -6PX;
}
.tab_fete{
    padding-bottom: 20px;
}

/*
    style de consult AGent
*/
.consultAgent{
    background-color: white;
    margin: 70PX 50PX 0PX 170PX;
    padding: 30PX 42PX 20PX 40PX;
}
.titleAgent{
    display: grid;
    grid-template-columns: repeat(12,1fr);
    grid-template-areas: "agen agen agen . . . . . . addAgent addAgent addAgent";
}
.agen_titre{
    grid-area: agen;
}

.titleAgent h3{
    font-size: 25px;
    font-weight: 700;
    color: #12344d;
    padding-bottom: 21px;
}

.addAgent{
    grid-area: addAgent;
    grid-area: button;
    background-color: #12344dd1;
    padding: 12px 12px;
    margin-bottom: 14px;
    margin-top: -58px;
    margin-right: 26px;
    border-radius: 41px;
}
.addAgent:hover{
    background-color: #12344d;
    color: white;
}
.addAgent a {
    text-decoration: none;
    color: white;
}
.addAgent a:hover{
    text-decoration: none;
    color: white;
}

.new_agent{
    margin: 12PX auto;
    padding-bottom: 22px;
}
.search-agent{
    padding-bottom: 32px;
}

.search-agent input{
background-color: white;
border-left: none;
}
.search-agent span{
background-color: white;
}
.support-agent{
    font-size: 15px;
    color: #12344d;
    margin-bottom: -17px;
}
.trier{
    display: flex;
    justify-content: space-between;
    padding-bottom: 25px;
}
.trier div span{
    border: 1px solid #cfd7df;
    padding-left: 8px;
    padding-right: 88px;
    padding-top: 4px;
    padding-bottom: 4px;
    padding: 4PX 103PX 4PX 8PX;
    border-radius: 9px;
}


/*
*
*       les style concerne ajoute client
*
*/
.client-form2 label{
        padding-left: 12px;
        padding-right: 14px;
    }
#title-client{
    color:#12344d;
}
.btn-edit-client{
    padding: 7PX 7PX;
    margin-top: 12px;
    margin-right: 8px;
    border: solid 0.2px #9189891c;
    border-radius: 6px;
    text-decoration: none;
    color: white;
    font-weight: 700;

}
.btn-edit-client:hover{
    background-color: #0c4a6e;
    color: white;
}

/*
    style de page de vérification
*/
.page-verification{
    margin: 60PX AUTO;
    background-color: white;
    box-shadow: 0 0 1px 0 rgba(24,50,71,.3), 0 2px 6px 0 rgba(22,29,37,.05);
    WIDTH: 800PX;
    padding-top: 30px;
    padding-bottom: 43px;
}
.page-verification h3{
    font-weight: 800;
    color: #15303f;
    position: relative;
    LEFT: 200PX;
}
.page-verification small{
    font-weight: 800;
    color: #15303f;
    position: relative;
    LEFT: 200PX;
}
.password-change{
    position: relative;
    top: 21px;
    left: 200px;
}
/* .password-change div{
    padding-top: 17px;
} */
.page-confirm{
    margin: 60PX AUTO;
    background-color: white;
    box-shadow: 0 0 1px 0 rgba(24,50,71,.3), 0 2px 6px 0 rgba(22,29,37,.05);
    WIDTH: 800PX;
    padding-top: 30px;
    padding-bottom: 43px;
}
.close {
    color: #aaaaaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}
.close:hover,
.close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}
.content-modal{
    background-color: #fefefe;
    margin: 15% auto;
    padding: 20px;
    padding-bottom: 20px;
    border: 1px solid #888;
    width: 50%;
    position: relative;
    top: -106px;
    z-index: 1;
    padding-bottom: 0px;
    left: 130px;
    border-radius: 6px;
}
.Modal {
    display: none; /* Par défaut, la fenêtre est cachée */
    position: fixed; /* La fenêtre est positionnée de manière fixe */
    z-index: 1; /* Le z-index place la fenêtre au-dessus de tous les autres éléments */
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto; /* Ajout d'un scroll si la fenêtre est trop grande pour l'écran */
    background-color: rgba(0,0,0,0.4); /* Ajout d'un fond semi-transparent pour couvrir le reste de la page */
}
.Modal_ticket {
    display: none; /* Par défaut, la fenêtre est cachée */
    position: fixed; /* La fenêtre est positionnée de manière fixe */
    z-index: 1; /* Le z-index place la fenêtre au-dessus de tous les autres éléments */
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto; /* Ajout d'un scroll si la fenêtre est trop grande pour l'écran */
    background-color: rgba(0,0,0,0.4); /* Ajout d'un fond semi-transparent pour couvrir le reste de la page */
}

#add_cancel{
    display: flex;
    margin-top: 50px;
    position: static;
    justify-content: flex-end;
    background-color: #eee;
    padding-bottom: 15px;
    padding-top: 15px;
    margin-left: -68px;
    margin-right: -68px;
    border-radius: 7px;
    padding-right: 22px;
}
#add_cancel div {
    margin-left: 12px;
    display: contents;
}
.my-class{
    font-size: 17px;
    font-weight: 700;
    color: #12344d;
}
.consult-section{

    padding: 20PX 20PX 20PX 20PX;
    box-shadow: 0 0 1px 0 rgba(24, 50, 71, 0.25), 0 2px 6px 0 rgba(22, 29, 37, 0.1);
    border-radius: 6px;
    margin: 0px 45px 15px 42px;
}

.content-modal1{
    background-color: #fefefe;
    margin: 15% auto;
    padding: 20px;
    padding-bottom: 20px;
    border: 1px solid #888;
    width: 50%;
    position: relative;
    top: -106px;
    z-index: 1;
    padding-bottom: 0px;
    left: 130px;
    border-radius: 6px;
}
.Modal1{
    display: none; /* Par défaut, la fenêtre est cachée */
    position: fixed; /* La fenêtre est positionnée de manière fixe */
    z-index: 1; /* Le z-index place la fenêtre au-dessus de tous les autres éléments */
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto; /* Ajout d'un scroll si la fenêtre est trop grande pour l'écran */
    background-color: rgba(0,0,0,0.4); /* Ajout d'un fond semi-transparent pour couvrir le reste de la page */
}

.content-modal2{
    background-color: #fefefe;
    margin: 15% auto;
    padding: 20px;
    padding-bottom: 20px;
    border: 1px solid #888;
    width: 50%;
    position: relative;
    top: -106px;
    z-index: 1;
    padding-bottom: 0px;
    left: 130px;
    border-radius: 6px;
}
.content-modal3{
    background-color: #fefefe;
    margin: 15% auto;
    padding-bottom: 20px;
    border: 1px solid #888;
    width: 51%;
    position: relative;
    z-index: 1;
    /* padding-bottom: 32px; */
    /* height: 101vh; */
    left: 130px;
    border-radius: 6px;
    bottom: 100px;
    /* overflow: auto; */
    padding-right: 30px;
}
.Modal2{
    display: none; /* Par défaut, la fenêtre est cachée */
    position: fixed; /* La fenêtre est positionnée de manière fixe */
    z-index: 1; /* Le z-index place la fenêtre au-dessus de tous les autres éléments */
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto; /* Ajout d'un scroll si la fenêtre est trop grande pour l'écran */
    background-color: rgba(0,0,0,0.4); /* Ajout d'un fond semi-transparent pour couvrir le reste de la page */
}

/*
    Search d'un ticket
*/
.main-content{
    position: relative;
    top: 70px;
    z-index: 1;
    /* background-color: white; */
}
.navbar-search{
    position: fixed;
    top: 76px;
    width: 91%;
    right: -70px;
    padding-right: 67px !important;
    border-top: black solid 0.1px;
}
.link-sidebar{
    font-size: 11PX;
    margin-left: -30px;
}


.feed-repond {

    display: grid;
    position: relative;
    grid-template-columns: repeat(30,1fr);
    grid-template-areas: ". chat chat chat chat chat chat chat chat chat . ticket ticket ticket ticket ticket ticket ticket ticket ticket ticket ticket ticket ticket ticket ticket . feed feed feed";
}

.conversation{
    grid-area: chat ;
    background-color: white;

    border: solid 1.1PX #80808045;
    margin-left: -77px;
    padding: 33px 8PX 1PX 9PX;
    border-radius: 5px;
    height: 100vh;
    overflow: auto;


}
.message-conversation{
    background-color: #eeeeee69;
    padding: 12px 12px 12px 12px;
    border: solid 0.1px #857d7d;
    border-radius: 8px;
}

.grid-feedback{
    grid-area: feed;
    padding: 47px;
    background-color: white;
    border: solid 1.1PX #80808045;
    margin-right: -48px;
    border-right: none;
    border-bottom: none;
    height: 150vh;
    padding-top: 5px;
    border-radius: 4px;
    height: 100vh;
    overflow: auto;
}

.titles-response div{
    background-color: white;
    box-shadow: 0px 4px 4px 1px rgba(22,29,37,.05);
    padding: 2px 30px 2px 30px;
    border: solid 0.1px #8080805c;
    border-radius: 9px;
    margin-left: 103px;
    position: relative;
    bottom: 32px;
}


.consult-ticket{
    grid-area: ticket;
    background-color: white;
    padding-left: 20px;
    padding-top: 21px;
    padding-bottom: 12px;
    padding-right: 33px;
    border: solid 2.1Px white;
    /* border-top-color: #000 !important; */
    border: solid 1.1PX #80808045;
    box-shadow: 8px 11px 11px 7px rgba(22,29,37,.05);
    height: 150vh;
    margin-left: -35px;
    margin-right: -34px;
    border-radius: 8px;
    height: 100vh;
    overflow: auto;

}
.consult-ticket p .para{

    padding-left: 12px;
    font-size: 20px;
}

.my-ticket{
    padding-left: 35px;
    position: relative;
    top: 61px;
}
.my-ticket div{

    font-weight: bold;
    display: flex;
    /* justify-content: center; */
    padding-bottom: 28px;
    font-size: 23px;
    color: #13364f;
}
.feedback div label{
    font-weight: 700;
    color: #000;
    border: none;
    border: solid 0.2px darkgreen;
    border-radius: 12px;
    background-color: #b4dcff;
    }
.feedback div label:hover{
    color: #000 !important;
    background-color: #54a2e7 !important;
    }
.feedback{
    display: flex;
    flex-direction: column;
    padding-bottom: 16px;
    padding-top: 20px;
}
.feedback div{
    padding-bottom: 12px;
}

.title-feedback{
    /* font-size: medium; */
    margin-left: 31px;
    font-weight: 700;
    color: #13364f;
    /* letter-spacing: 2px; */
}
.icone-feedback{
    width: 32px;
    margin-left: -43px;
    margin-right: -36px;
    margin-bottom: 13px;
}
.size-icone{
    width: 30px;
    padding-right: 10px;

}
.search-article{
    background-color: #12344d;
    position: relative;
    bottom: 4px;
    padding: 35px 46px 51px 21px;
    margin-right: -48px;
    margin-left: -308px;
    border-left: solid white 0.1px;
}
#search1{
    width: 474px;
    border-radius: 5px;
    padding-top: 6px;
    padding-bottom: 6px;
    border: none;
    FONT-SIZE: 13PX;
    padding-left: 8px;
}
/* .search-article div {
    display: flex;
    jus
} */

.articles-all{
    background-color: white;
    padding: 51px 89PX 52PX 26PX;
    position: relative;
    top: -66px;
    margin-top: -6px;
    margin-bottom: -3px;
    bottom: 23px;
    left: -19px;
    box-shadow: 0 0 1px 0 rgba(24,50,71,.3), 0 2px 6px 0 rgba(22,29,37,.05);
    border-radius: 11px;
    border: solid #80808017 0.01px;

}
.articles-all h5{
    margin-top: -30px;
    font-size: x-large;
    font-weight: bold;
    color: #12344d;
    letter-spacing: 2px;
    margin-bottom: 1px;

}
.articles-all p{
    margin-top: 15px;
letter-spacing: 1px;
padding-left: 6px;

}
.articles-all button{
    color: white;
    font-weight: bold;
}
.articles-all button:hover{
    color: white;
    font-weight: bold;
}
.articles-all .date{
    display: flex;
    justify-content: end;
    position: relative;
    bottom: 18px;
}
.consult-article{
    background-color: white;
    padding: 76px 4px 0PX 75px;
    border-radius: 8px;
    border: 0.1px #80808042 solid;
    box-shadow: 8px 11px 11px 7px rgba(22,29,37,.05);
    position: relative;
    min-height: 100vh;
    left: 100px;
    /* right: 79px; */
    width: 250vh;
}
.consult-article h5{
    font-size: x-large;
    font-weight: bold;
    color: #12344d;
}
.consult-article h6{
    font-size: medium;
    font-weight: bold;
    padding-bottom: 14px;
}
.consult-article p{
    letter-spacing: 1px;
    font-size: initial;
}
.naviger-section{
    display: flex;
    flex-direction: column;
    background-color: white;
    padding-top: 31px;
    /* padding-bottom: 120px; */
    border-radius: 16px;
    box-shadow: 0px 0px 5px #e2e2e2;
}
.naviger-section h4{
    font-size: 25px;
    font-weight: bold;
    color: #274a64fc;
    padding-bottom: 6px;
}
.naviger-section span{
    font-size: medium;
    color: #274a64fc;
    padding-bottom: 12px;
}
.naviger-section a{
    font-size: medium;
    text-decoration: none;
    font-weight: 700;
    padding-top: 8px;
    color: black;
}
.naviger-section a svg{
    font-weight: bold;
    margin-left: -3px;
    margin-top: -4px;
    margin-bottom: -2px;
}
.liste-category{
    margin-left: -82px;
    background-color: white;
    padding-top: 21px;
    padding-bottom: 27px;
    border-radius: 5px;
    border: solid 0.1PX #80808033;
}
.list-unstyled{
    margin-left: 32px !important;
}
.assistance-title{
    /* background-color: rgb(27, 236, 156); */
    padding: 10px;
    margin-bottom: 0px;
    margin-left: -12px;
    margin-right: -12px;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}
.naviger-all{
    border: 2px solid gray;
    /* border: 2px solid rgb(27, 236, 156); */
    padding-top: 23px;
}
.consult-assistance{
    background-color: white;
    margin-left: 0px;
    padding-top: 27px;
    padding-left: 28px;
    padding-right: 34px;
    box-shadow: 0px 0px 5px #e2e2e2;
    border-radius: 5px;
    position: relative;
    top: 60px;
}
.article-vide{
    font-size: 20px;
}
.article-vide div img{
    position: relative;
    top: 30px;
}
.article-vide div span{
    position: relative;
    top: 27px;
}
.article-found div span{
    position: relative;
    top: 27px;
    color: red;
    font-size: 20px;
}
.article-found div a{
    position: relative;
    top: 72px;
    text-decoration: none;
    color: #000;
    word-spacing: 1px;
    font-size: 18px;
    line-height: 22px;
    margin-bottom: 18px;
    display: block;
    text-align: left;
}
.article-found div a:hover{
    color: #4f91f4f0;
    text-decoration: underline;
}
.all-liste{
    background-color: white;
    padding: 29px 66px 35px 50px;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    position: relative;
    top: 40px;
    box-shadow: 13PX 12PX 16PX 9PX #80808033;
    border-radius: 9PX;
    overflow: auto;
}
#result-search{
    position: relative;
    bottom: 20p;
    top: 100px;
}

.search-ticket{
    background-color: #12344d;
    position: relative;
    bottom: 24px;
    padding: 35px 46px 51px 21px;
    margin-right: -48px;
    margin-left: -308px;
    border-left: solid white 0.1px;
    justify-content: end;
    display: flex;
}

