// Body
$body-bg: white;

// Colors
$primary: rgb(37 99 235);

// Typography
// $font-family-sans-serif: 'Inter', sans-serif;
$font-size-base: 0.9rem;
$line-height-base: 1.6;


$h1-font-size: $font-size-base * 2.5;
$h2-font-size: $font-size-base * 2;
$h3-font-size: $font-size-base * 1.75;
$h4-font-size: $font-size-base * 1.5;
$h5-font-size: $font-size-base * 1.25;
$h6-font-size: $font-size-base;

$font-sizes: (
  1: $h1-font-size,
  2: $h2-font-size,
  3: $h3-font-size,
  4: $h4-font-size,
  5: $h5-font-size,
  6: $h6-font-size,
  7: $font-size-base * 0.875,
  8: $font-size-base * 0.75
);

$sidebar-width: 270px;

// Alerts
$alert-padding-y: .75rem;
$alert-padding-x: 1.25rem;


// Forms
$form-check-input-width: 1.25em;
$form-check-input-border-radius: .2em;
